.ion-item-radius {
  --border-radius: 20px;
}

@media (prefers-color-scheme: light) {
  .ion-item-radius {
    --background: #f8f8fB;
  }
}

@media (prefers-color-scheme: dark) {
  .ion-item-radius {
    --background: #1e1e1e;
  }
}
