<ion-header>
  <ion-toolbar>
    <ion-title>Создание события</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close-outline" size="large" (click)="closeModal()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form" [formGroup]="form">
    <ion-item>
      <ion-label position="stacked">Название события</ion-label>
      <ion-input [formControl]="form.controls.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Дата события</ion-label>
      <ion-input type="date" [formControl]="form.controls.eventDate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Дата окончания события</ion-label>
      <ion-input type="date" [formControl]="form.controls.endDate"></ion-input>
      <small class="invalid" *ngIf="form.getError('invalidDate')">
        Дата окончания не должна быть раньше даты начала
      </small>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Место события</ion-label>
      <ion-input
        readonly="true"
        [formControl]="form.controls.placeEvent"
        [value]="
          (selectedPlace | async)?.result?.items[0]?.full_name ||
          (selectedPlace | async)?.result?.items[0]?.address_name
        "
      ></ion-input>
      <ion-button slot="end" (click)="showMap()">
        <ion-icon name="map-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item [hidden]="true">
      <ion-label position="stacked">Долгота</ion-label>
      <ion-input
        [formControl]="form.controls.longitude"
        [value]="(selectedPlace | async)?.result?.items[0]?.point?.lon"
      ></ion-input>
    </ion-item>
    <ion-item [hidden]="true">
      <ion-label position="stacked">Широта</ion-label>
      <ion-input
        [formControl]="form.controls.latitude"
        [value]="(selectedPlace | async)?.result?.items[0]?.point?.lat"
      ></ion-input>
    </ion-item>
    <ion-button expand="full" [disabled]="form.invalid" (click)="createEvent()">Создать событие</ion-button>
  </form>
</ion-content>
