<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="add-circle-outline" size="large" (click)="createGroup()"></ion-icon>
    </ion-buttons>
    <ion-title>Мои группы</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="150" (ionRefresh)="getGroups($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-spinner name="crescent" *ngIf="!groups"></ion-spinner>

  <ion-list *ngIf="groups?.length" #listGroup>
    <ion-item-sliding *ngFor="let group of groups">
      <ion-item class="item" (click)="goToGroup(group)">
        <ion-avatar *ngIf="group" slot="start">
          <img *ngIf="group.photo" [src]="group.photo" />
          <div *ngIf="!group.photo" class="fake-photo" [attr.data-name]="group.title[0]"></div>
        </ion-avatar>
        <ion-label>{{group.title}}</ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
