<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="add-circle-outline" size="large" (click)="createGroup()"></ion-icon>
    </ion-buttons>
    <ion-title>Мои группы</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="150" (ionRefresh)="getGroups($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-spinner name="crescent" *ngIf="!groups"></ion-spinner>

  <ion-list class="list" *ngIf="groups?.length">
    <ion-item
      *ngFor="let group of groups; let index = index"
      class="ion-item-radius"
      (click)="goToGroup(group)"
      lines="none"
    >
      <ion-avatar *ngIf="group" slot="start">
        <img
          *ngIf="group.photo"
          alt="avatar"
          [src]="!group.photo.includes('avatar') ? group.photo : (group.photo | noCache)"
        />
        <div *ngIf="!group.photo" class="fake-photo" [attr.data-name]="group.title[0]"></div>
      </ion-avatar>
      <ion-label>{{group.title}}</ion-label>
      <ion-icon
        [id]="'left-start-' + index"
        class="settings"
        name="ellipsis-vertical-outline"
        slot="end"
        (click)="showSettingsGroup($event)"
      ></ion-icon>
      <ion-popover [trigger]="'left-start-' + index" side="bottom" alignment="center" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item lines="none" class="popover-item" [button]="true" [detail]="false">Удалить группу</ion-item>
              <ion-item lines="none" class="popover-item" [button]="true" [detail]="false">Выйти из группы</ion-item>
              <ion-item lines="none" class="popover-item" [button]="true" [detail]="false">Настройки группы</ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-item>
  </ion-list>
</ion-content>
