<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="information-circle-outline" size="large" (click)="infoAboutGroup()"></ion-icon>
      <ion-icon name="add-circle-outline" size="large" (click)="createEvent()"></ion-icon>
    </ion-buttons>
    <ion-title>{{titleGroup}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="150" (ionRefresh)="getCurrentGroup($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-spinner name="crescent" *ngIf="!(events$ | async)?.length"></ion-spinner>

  <ng-container *ngIf="(events$ | async) as events">
    <ion-list *ngIf="events?.length">
      <ion-item *ngFor="let event of (events$ | async); let index = index" class="item" lines="none" (click)="goToEvent(event)">
        <ion-avatar *ngIf="event" slot="start">
          <img
            *ngIf="event.photo"
            alt="avatar"
            [src]="!event.photo.includes('avatar') ? event.photo : (event.photo | noCache)"
          />
          <div *ngIf="!event.photo" class="fake-photo" [attr.data-name]="event.title[0]"></div>
        </ion-avatar>
        <ion-label>
          <p><strong>{{event.title}}</strong></p>
          <p>Дата - {{event.eventDate | date: 'dd.MM.yyyy'}}</p>
          <p>Место - {{event.placeEvent}}</p>
        </ion-label>
        <ion-icon
          [id]="'bottom-start-' + index"
          class="settings"
          name="ellipsis-vertical-outline"
          slot="end"
          (click)="showSettingsGroup($event)"
        ></ion-icon>
        <ion-popover [trigger]="'bottom-start-' + index" side="bottom" alignment="center" [dismissOnSelect]="true">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item lines="none" class="popover-item" [button]="true" [detail]="false" (click)="addToCalendar(event)">В календарь</ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
